<nav class = "navbar navbar-inverse">
		<li class = "nav navbar-nav admin">
			{{#nav-link-to 'search-client'}}
				<h5 class = "navItem">Clients</h5>
			{{/nav-link-to}}
			{{#nav-link-to 'search-patient'}}
				<h5 class = "navItem">Patients</h5>
			{{/nav-link-to}}
			{{#nav-link-to 'search-contact'}}
				<h5 class = "navItem">Contacts</h5>
			{{/nav-link-to}}
			{{#nav-link-to 'view-calendar'}}
				<h5 class = "navItem">Calendar</h5>
			{{/nav-link-to}}
            {{#nav-link-to 'admin'}}
				<h5 class = "navItem">Admin</h5>
			{{/nav-link-to}}	
			{{#nav-link-to 'logout'}}
				<h5 class = "navItem" href="#" >Logout</h5>
			{{/nav-link-to}}	
		</li>
</nav>