<div class = "clientInfo">
	<div class = "panel panel-default">
		<div class = "panel-body">
			<div class = "infoBlock">
				<h5>Client: </h5><br>
				<h5>Last, First  </h5><br>
				<p>Address: </p><br>
				<p>Phone Number: </p><br>
				<p>Email: </p><br>
			</div>
			<div class = "infoBlock">
				<h5>Documentation Information</h5><br>
				<p>LICO: </p><br>
				<p>AISH: </p><br>
				<p>SA: </p><br>
				<p>Notes: </p><br>
			</div>
			<div class = "infoBlock">
				<h5>Alternate Contact</h5><br>
				<h5>Last, First</h5><br>
				<p>Address: </p><br>
				<p>Phone Number: </p><br>
				<p>Email: </p><br>
			</div>
			<div class = "infoBlock">
				<h5>Pet: </h5>
				<!-- TODO loop through list of pets -->
				<h5>Pet name</h5><br>
				<p>Species: </p><br>
				<p>Animal ID: </p><br>
				<p>Tattoo/microchip ID: </p><br>
			</div>
		</div>
	</div>
</div>
