{{patient-history isVisible=chronoIsVisible}}
{{medication-history isVisible=medicationIsVisible}}
<div class = "history-selector">
	<button {{action "showChronological" }} class = "history-selector-button">Chronoligical</button>
	<button {{action "showMedication" }} class = "history-selector-button">Medication History</button>
</div>