<div class = "new-entry-button-wrapper">
	<button {{action "uploadResult" }} class = "new-entry-button">Upload Lab Result</button>
</div>	
<div class = "infoBlock">
	<div class = "panel panel-default">		
		<div class="history-list">
			{{#ember-scrollable autoHide=false}}
				{{#each labResultList as |labEntry|}}
					<div class = "nameListItem" {{action 'viewEntry' entry.imageId}}>
						
							<p>{{labEntry.name}} {{labEntry.date}}</p>
						
					</div>
				{{/each}}
			{{/ember-scrollable}}
		</div>
	</div>
</div>