<div class = "new-entry-button-wrapper">
	<button {{action "uploadResult" }} class = "new-entry-button">Upload Lab Result</button>
</div>	
<div class = "infoBlockComponent">
	<div class = "panel panel-default">		
		<div class="history-list" style="overflow:auto">
				{{#each labResultList as |labEntry|}}
					<div class = "list-group-item clickable" {{action 'viewEntry' labEntry.imageId}}>
						
							<p>{{labEntry.name}} {{labEntry.date}}</p>
						
					</div>
				{{/each}}
		</div>
	</div>
</div>