<div class = "new-entry-button-wrapper">
	<button {{action "uploadResult" }} class = "new-entry-button">Upload Lab Result</button>
</div>	
<div class = "infoBlock">
	<div class = "panel panel-default">		
		<div class="history-list">
			<p>hello!</p>
		</div>
	</div>
</div>