<div class = "infoBlock">
	<div class = "panel panel-default">
		<div class = "new-entry-button-wrapper">
			<button {{action "newEntry" }} class = "new-entry-button">New Entry</button>
		</div>	
		<p>some text about medication history!</p>
		{{patientId}}
	</div>
</div>
