<div class = "infoBlockComponent">
	<div class = "panel panel-default">		
		<div class="history-list" style="overflow:auto">
				{{#each medicationList as |entry|}}
					<div class = "nameListItem" {{action 'viewEntry' entry.medical_record_id}}>
						
							<p>{{entry.name}} {{entry.date}}</p>
						
					</div>
				{{/each}}
		</div>
	</div>
</div>
