<div class="medications">
{{input value=name class="light" placeholder="Medication..." focus-out="update"}}
{{bootstrap-datepicker class="datePicker" value=date placeholder='Reminder...' focus-out="update"}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" {{action 'delete'}}><path d="M555.9 156.3C543 125.9 524.5 98.5 501 75s-50.9-42-81.3-54.9C388.1 6.8 354.5 0 320 0s-68.1 6.8-99.7 20.1C189.9 33 162.5 51.5 139 75s-42 50.9-54.9 81.3C70.8 187.9 64 221.5 64 256s6.8 68.1 20.1 99.7C97 386.1 115.5 413.5 139 437s50.9 41.9 81.4 54.8c31.6 13.4 65.1 20.1 99.7 20.1s68.1-6.8 99.7-20.1c30.5-12.9 57.9-31.3 81.4-54.8s41.9-50.9 54.8-81.4c13.4-31.6 20.1-65.1 20.1-99.7s-6.9-68-20.2-99.6zm-118.2 166c3.1 3.1 3.1 8.2 0 11.3l-40 40c-3.1 3.1-8.2 3.1-11.3 0L320 307.3l-66.3 66.3c-3.1 3.1-8.2 3.1-11.3 0l-40-40c-3.1-3.1-3.1-8.2 0-11.3l66.3-66.3-66.3-66.3c-3.1-3.1-3.1-8.2 0-11.3l40-40c3.1-3.1 8.2-3.1 11.3 0l66.3 66.3 66.3-66.3c3.1-3.1 8.2-3.1 11.3 0l40 40c3.1 3.1 3.1 8.2 0 11.3L371.3 256l66.4 66.3z"/></svg>
</div>
{{yield results}}