<div class = "infoBlock">
	<div class = "panel panel-default">
		<div class = "new-entry-button-wrapper">
			<button {{action "newEntry" }} class = "new-entry-button">New Entry</button>
		</div>	
		<div class="history-list">
			{{#ember-scrollable autoHide=false}}
				{{#each medicationList as |entry|}}
					<div class = "nameListItem" {{action 'viewEntry' entry.recordId}}>
						<p></p>
					</div>
				{{/each}}
			{{/ember-scrollable}}
		</div>
	</div>
</div>
