<div class = "infoBlock">
	<div class = "panel panel-default">		
		<div class="history-list">
			{{#ember-scrollable autoHide=false}}
				{{#each medicationList as |entry|}}
					<div class = "nameListItem" {{action 'viewEntry' entry.medical_record_id}}>
						
							<p>{{entry.name}} {{entry.date}}</p>
						
					</div>
				{{/each}}
			{{/ember-scrollable}}
		</div>
	</div>
</div>
