<div class = "infoBlock">
	<div class = "panel panel-default">
		<div class = "new-entry-button-wrapper">
			<button {{action "" }} class = "new-entry-button">New Entry</button>
		</div>	
		<p>some text about medical history!</p>
	</div>
</div>