<div class = "new-entry-button-wrapper">
	<button {{action "uploadResult" }} class = "new-entry-button">Upload Radiograph</button>
</div>	
<div class = "infoBlockComponent">
	<div class = "panel panel-default">		
		<div class="history-list" style="overflow:auto">
		
				{{#each radiographyList as |radiograph|}}
					<div class = "list-group-item clickable" {{action 'viewEntry' radiograph.imageId}}>
						
							<p>{{radiograph.name}} {{radiograph.date}}</p>
						
					</div>
				{{/each}}
			
		</div>
	</div>
</div>