<div class = "new-entry-button-wrapper">
	<button {{action "uploadResult" }} class = "new-entry-button">Upload Radiograph</button>
</div>	
<div class = "infoBlock">
	<div class = "panel panel-default">		
		<div class="history-list">
		Hello!
		</div>
	</div>
</div>