<div class = "infoBlock">
	<div class = "panel panel-default">
		<div class = "new-entry-button-wrapper">
		</div>	
		<div class="history-list">
			{{#ember-scrollable autoHide=false}}
				{{#each vaccineList as |entry|}}
					<div class = "nameListItem" {{action 'viewEntry' entry.medical_record_id entry.date}}>
						<p>{{entry.name}}  {{entry.dateToDisplay}}</p>
					</div>
				{{/each}}
			{{/ember-scrollable}}
		</div>
	</div>
</div>