@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */

* {
    margin: 0;
    margin-left: 1%;
    padding: .5%;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
    font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body {
    background: #f2e9e6;
}

a {
    color: #2185D0;
    text-decoration: none;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}


/**
 * Body Container
 */
.container {
    max-width: 1024px;
    min-height: 100vh;
    background: #f2e9e6;

    margin: 0 auto;
}

/**
 * Content Area
 */
.body {
    padding: 15px;
}

//user-creation page textarea
.usertextarea {
    margin-top: 5%;
    margin-right: 1%;
}

//inputboxes
.nonalignbox{
    margin-left: 10%;
}

.status{
    padding: 15px;
}

.nav { width: 100%; margin: 0 auto; padding:0}
.nav > li { width: 24%; text-align: center; margin: 0}
.navbar {text-align: center}