.history-selector-button {
  display: inline-block;
}

.new-entry-button-wrapper {
  text-align: center;
}

.new-entry-button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.history-list {
  height: 300px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.infoBlockComponent {
  width: 75%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}