#create-user-button {
  margin-left: 80px;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.inputUserLabel {
  display: inline-block;
  float: left;
  clear: left;
  text-align: left;
  width: 10em;
}
