.users {
  padding-left: 10px; 
  margin: 0;
  > div {
    margin: 0;
    padding: 0;
  }
}
.searchButton{
  margin-left: 10px;
}
.table-body {
  padding: 0;
  margin: 0;
}

.row {
  margin:0;
}
.striped {
  padding: 0;
  margin: 0;
  &:nth-child(2n) {
    background: #F5F5F5;
  }
  &:hover{
      background:#FFFFFF;
  }
}

.list-group-item {
    &:hover{
        background: #F5F5F5;
    }
    &:active{
      background:#F0F0F0;
  }
}
.buttonContainer{
  text-align: left;
}
.inviteUser{
  margin-top: 10px;
}

.nameList {
  display: block;
  /*height: 80%;
    width: 40%;*/
  height: 450px;
  width: 300px;
  margin: 10px;
  overflow:auto
}
.nameLabel {
  width: 300px;
  margin: 10px;
}

.alertList {
  display: block;
  /*height: 80%;
    width: 70%;*/
  height: 450px;
  width: 400px;
  margin: 10px;
  overflow:auto
}