
.nameListItem {
  cursor: pointer;
  padding: 5px;
  margin: 0px;
  background: #ffc863;
}

.nameListItem:nth-child(odd) {
  background: #c0c5c6;
}

.nameList {
  display: block;
  /*height: 80%;
    width: 40%;*/
  height: 550px;
  width: 300px;
  margin: 10px;
}

