/* view client-info */


.infoBlock {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  text-align: left
}

.petNameContainer {
  display: block;
  width: 40%;
  padding: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: #FFFFFF;
  &:hover{
        background: #F5F5F5;
    }
    &:active{
      background:#F0F0F0;
  }
}