.viewLabel {
  display: inline-block;
  float: left;
  clear: left;
  text-align: left;
  width: 20em;
}

.inputBox {
  display: inline-block;
  float: left;
}

.inputGroup {
  margin: 10px;
  display: block;
  clear: left;
}

#edit-patient-button {
  margin: 20px;
  display: block;
  width: 10em;
  clear: left;
}