<div class = "container">
	<!--TODO: add header with tabs -->
	<div class = "nameList" style="height: 200px; width: 300px">
		
			{{#ember-scrollable autoHide=false}}
				{{#each model as |client|}}
					<!-- TODO: onclick, GET client info and display it -->
					<div>
						<p>{{client.name}}</p>
					</div>
				{{/each}}
			{{/ember-scrollable}}
		
	</div>
</div>
