<nav>
  <p> Back to the login page: </p>
  {{#link-to "login"}}Login{{/link-to}}
</nav>
<p> Please enter your email and a password to create an account: </p>
<form >  
  <label for="identification">Username</label>
  {{input id='identification' value=identification}}
  <br>
  <br>
  <label for="password">Password</label>
  {{input id='password' value=password}}
  <br>
  <br>
  <button type="submit" {{action 'createUser'}}>Create</button>
 </form>
{{outlet}}
