<!-- <div {{action 'clickChooseFile'}}>
	<input  type = "file" id = "files" name = "files[]" mulitple />
</div>
<output id = "list"></output> -->
<div>
	{{#file-picker fileLoaded="fileLoaded" readAs="readAsDataURL" }}
		Drag here or click to upload a file
	{{/file-picker}}
</div>

<button id = "sendLabResults" {{action "sendFile" fileLoaded}}>Save</button>
