<!-- <div {{action 'clickChooseFile'}}>
	<input  type = "file" id = "files" name = "files[]" mulitple />
</div>
<output id = "list"></output> -->
<form {{action "sendLabResults" model.patientId on="submit"}}>
	<div class = "panel panel-default">
		{{#file-picker fileLoaded="fileLoaded" readAs="readAsDataURL"}}
			<div class = "fileDropZone">
				Drag here or click to upload a file
			</div>
			{{/file-picker}}
	</div>
		
	<div class = "fileDatePicker">
		{{bootstrap-datepicker id='datePicker' value=datePicker autoclose=true placeholder="Date of lab result" class="form-control" required=true}}
	</div>
	<button type = "submit" id = "saveLabResults" class = "saveFileButton">Save</button>
</form>



