<!-- <div {{action 'clickChooseFile'}}>
	<input  type = "file" id = "files" name = "files[]" mulitple />
</div>
<output id = "list"></output> -->
<form {{action "sendLabResults" model.patientId on="submit"}}>
	<div>
		{{#file-picker fileLoaded="fileLoaded" readAs="readAsDataURL"}}
			Drag here or click to upload a file
		{{/file-picker}}
	</div>

	<div>
		{{bootstrap-datepicker id='datePicker' value=datePicker autoclose=true placeholder="Date of lab result" class="form-control" required=true}}
	</div>
	<button type = "submit" id = "saveLabResults">Save</button>
</form>



