<!-- <div {{action 'clickChooseFile'}}>
	<input  type = "file" id = "files" name = "files[]" mulitple />
</div>
<output id = "list"></output> -->
<div>
	{{#file-picker fileLoaded="fileLoaded" readAs="readAsDataURL" }}
		Drag here or click to upload a file
	{{/file-picker}}
</div>

<div>
	{{bootstrap-datepicker autoclose=true placeholder="Date of lab result" class="form-control"}}
</div>

<button id = "saveLabResults" {{action "sendLabResults" model.patientId}}>Save</button>
