<div class = "nameList" >
	<div class = "list-group">
            {{#each model.notesW as |note|}}
                    <div class = "row list-group-item clickable" {{action "getNote" model note.id}}>
                            <p>{{note.body}}</p>
                    </div>
            {{/each}}
    </div>
</div>

<button  id="create-note-button" {{action "createSideNote" model}}>New Side Note</button>