<button  {{action "createSideNote" model.patientID model.medID }}>New Side Note</button>
<div class = "nameList" >
    {{#ember-scrollable autoHide=false}}
            {{#each model.notesW as |note|}}
                    <div class = "nameListItem" {{action "getNote" note.id}}>
                            <p>{{note.id}}</p>
                    </div>

            {{/each}}
    {{/ember-scrollable}}
    <br>
    
</div>