<button  {{action "createSideNote"  }} type="submit" id="search-button">New Side Note</button>
<div class = "nameList" >
    {{#ember-scrollable autoHide=false}}
            {{#each model.patientFiltered as |patient|}}
                    <div class = "nameListItem" {{action "getPatient" patient.id}}>
                            <p>{{patient.first_name}} {{patient.last_name}}</p>
                    </div>

            {{/each}}
    {{/ember-scrollable}}
    <br>
    
</div>