<div>
<button  id="create-note-button" {{action "createSideNote" model}}>New Side Note</button>
<div class = "nameList" >
    {{#ember-scrollable autoHide=false}}
            {{#each model.notesW as |note|}}
                    <div class = "nameListItem" {{action "getNote" model note.id}}>
                            <p>{{note.body}}</p>
                    </div>

            {{/each}}
    {{/ember-scrollable}}
    <br>
    
</div>
</div>