<button  {{action "createSideNote"  }} type="submit" id="search-button">New Side Note</button>
<input class="form-control" placeholder="Search" autofocus="autofocus" id='search-bar' />
<div class = "nameList" >
    {{#ember-scrollable autoHide=false}}
            {{#each model.notesW as |note|}}
                    <div class = "nameListItem" {{action "getNote" note.id}}>
                            <p>{{note.id}}</p>
                    </div>

            {{/each}}
    {{/ember-scrollable}}
    <br>
    
</div>