<div>
<form {{action 'authenticate' on='submit'}}>  
  <label for="identification">Username</label>
  {{input id='username' value=identification}}
  <br>
  <br>
  <label for="password">Password</label>
  {{input id='password' value=password}}
  <br>
  <br>
  <button type="submit" id="login-button">Login</button>
 </form>
</div>

