<div class="container">
<nav>
  <p> Don't have an account yet? </p>
  {{#link-to "create-user"}}create-user{{/link-to}}
</nav>
<form {{action 'authenticate' on='submit'}}>  
  <label for="username">Username</label>
  {{input id='username' value=username}}
  <br>
  <br>
  <label for="password">Password</label>
  {{input id='password' value=password}}
  <br>
  <br>
  <button type="submit" id="login-button">Login</button>
 </form>
 <br>
 <div id = "alert_placeholder"></div>


