<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<h1> New Medical Record </h1>
<div> placeholder for pet info: </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Checkboxes
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
<div class="row">
    <div class="col-md-1">Attitude </div>
    <div class="col-md-1"> <input type="checkbox"> BAR </div> 
    <div class="col-md-1"> <input type="checkbox"> QAR </div> 
    <div class="col-md-2"> <input type="checkbox"> Depressed </div>
    <div class="col-md-1"> Temp </div>
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">Eyes </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-1"> <input type="checkbox"> OU </div>
     <div class="col-md-1"> <input type="checkbox"> OD </div>
    <div class="col-md-1"> <input type="checkbox"> OS </div>
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">Oral </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">MM </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> Pale </div> 
    <div class="col-md-2"> <input type="checkbox"> Jaundiced </div> 
    <div class="col-md-1"> <input type="checkbox"> Tacky </div> 
</div>
<div class="row">
    <div class="col-md-1">Ears </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-2"> <input type="checkbox"> Ear Mites </div> 
    <div class="col-md-1"> <input type="checkbox"> AU </div> 
    <div class="col-md-1"> <input type="checkbox"> AD </div> 
    <div class="col-md-1"> <input type="checkbox"> AS </div> 
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">Glands/Nodes </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">Skin </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">Abdomen </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">Urogential </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">Nervous System </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">Musculoskeletal </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">Cardiovascular </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-2"> <input >  </div>
    <div class="col-md-1"> HR </div>
    <div class="col-md-1"> <input >  </div>
</div>
<div class="row">
    <div class="col-md-1">Respiratory </div>
    <div class="col-md-1"> <input type="checkbox"> N </div> 
    <div class="col-md-1"> <input type="checkbox"> A </div> 
    <div class="col-md-2"> <input >  </div>
    <div class="col-md-1"> RR </div>
    <div class="col-md-1"> <input >  </div>
</div>
</div>
    </div>
  </div>
 <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Notes
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       <textarea id="notes" rows="10" cols="40"> </textarea>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Medications
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       <textarea id="medications" rows="10" cols="40"> </textarea>
      </div>
    </div>
  </div>
  <h4> Veterinarian Signature: </h4>
</div>