<div class = "container">
    <h1>Contact information for: </h1>
    <br>
    <p>Phone Number: </p>
    <br>
    <p>Email: </p>
    <br>
    <p>Fax Number: </p>
    <br>
    <p>Address: </p>
    <br>
</div>