<div>
    <div id="alert_placeholder"></div>
    <div class="inputLoginGroup">
        <h3> Reset password: </h3>
        <form>
            <div class="userInput"><label for="password" class="inputUserLabel">Password</label>
                <div class="password">{{input id='password' value=password type="password"}}</div>
            </div>

            <div class="userInput"> <label for="passwordConfirm" class="inputUserLabel">Confirm Password</label>
                <div class="password">{{input id='passwordConfirm' value=confirmpassword type="password"}}
                </div>
                </div>
            <button type="submit" {{action 'resetPassword'}} id="reset-password-button" class="btn">Reset Password</button>
        </form>
    </div>
</div>