<div class= "container" >
    <br>
    <br>
    <br>
    <div class="row">
            <textarea class="col-md-13 searchbartextarea "> </textarea>
    </div>
    <br>
    <br>
    <div class="row">
            <p class="col-md-4 ">Veterinarians</p>
             <p class="col-md-4 col-md-offset-4">Volunteers</p>
              <p class="col-md-4 col-md-offset-8">LabSupply </p>
            <textarea class="col-md-4 searchbartextarea "> </textarea>
            <textarea class="col-md-4 searchbartextarea "> </textarea>
            <textarea class="col-md-4 searchbartextarea "> </textarea>
    </div>

</div>
