<button  {{action "filterClient"  }} type="submit" id="search-button">Search</button>
<input class="form-control" placeholder="Search" autofocus="autofocus" id='search-bar' />
<div class = "nameList" >
    {{#ember-scrollable autoHide=false}}
            {{#each model.patientFiltered as |patient|}}
                    <div class = "nameListItem" {{action "getPatient" patient.id}}>
                            <p>{{patient.firstName}} {{patient.lastName}}</p>
                    </div>

            {{/each}}
    {{/ember-scrollable}}
    <br>
    
</div>