<div class= "container" >
    <br>
    <br>
    <br>
    <div class="row">
            <form {{action "getContact" model.id on="submit"}}>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-7 col-md-offset-2">
        <input class="form-control" placeholder="Search" autofocus="autofocus"  />
        </div>
        </form>
    </div>
    <br>
    <br>
    <div >
        <div class="col-md-3 col-md-offset-1">Veterinarians</div>
        <div class="col-md-3 col-md-offset-1">Volunteers</div>
        <div class="col-md-3 col-md-offset-1">Lab/Supply </div>
    </div>
    <div>
      <div class="col-md-3  col-md-offset-1"> sample</div>
            <div class="col-md-3  col-md-offset-1">sample </div>
            <div class="col-md-3 col-md-offset-1"> sample</div>
    </div>
</div>
